html {
  /* height: 98.35%; */
}

body {
  background-image: linear-gradient(to top right, #e37682 15%, #5f4d93 85%);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #935d8c;
  font-family: 'Poppins';
  margin: 9px;
  margin-bottom: 0px;
}

.box {
  background-color: #3A3A3A;
}

footer {
  position: sticky;
  margin-top: 8px;
  margin-bottom: -9px;
  margin-left: -9px;
  margin-right: -9px;
}

h1 {
  color: white;
  text-align: center;
  background: linear-gradient(to top right, #e37682 15%, #5f4d93 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3, h1, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

header {
  margin-bottom: 9px;
}

.main {
  margin-bottom: -50px;
  min-height: 100%;
}

footer, .push {
  height: 50px;
}

.disclaimer {
  color: #5D5D5D;
}
