body {
  background-image: linear-gradient(to top right, #e37682 15%, #5f4d93 85%);
  background-size: 100% 8000%;
  background-repeat: no-repeat;
  font-family: 'Poppins';
  margin: 9px;
  text-align: center;
}

.box {
  background-color: rgb(58,58,58);
}

.body {
  left: 9px;
  /* bottom: 9px; */
  right: 9px;
}

footer {

}

h1 {
  color: white;
  text-align: center;
  background: linear-gradient(to top right, #e37682 15%, #5f4d93 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 9px;
}
